div[ng-view].ng-enter {
    -webkit-animation: fadeInRight 0.5s;
    animation: fadeInRight 0.5s;
}

.ring-container img{
    position: absolute;
    left: -12px;
    top: -26px;
    height: 260px;
}

.rivet-point{
    width:  25px;
    height: 25px;

    /* -webkit-border-radius: 10px; */
    -moz-border-radius: 10px;
    /* border-radius: 10px; */
    /* border-style: dotted; */

    margin-top: 10px;
    margin-right: 10px;
    display: inline-block;
    position: relative;
    overflow: visible;
}

.dragmode{
        border-style: dotted;
        border-color: black;
        border-width: 2px;
        border-color: scrollbar;
        border-radius: 12px;
        -webkit-border-radius: 10px; 
}

.highlight{
    background-color: #ccffcc
}

.rivet-point img{
    width: 45px;
    height: 45px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    /* border: 1px solid red; */
}

.table-img{
	height: 30px;
}

.rivet-group{
    display: inline-block;
}

.left-rivet-group{
    /*margin-right: 100px;*/
}

.ring-container{
    margin-right: 90px;
    margin-left: 90px;
    position: relative;
    vertical-align: top;
}

.rivet-image{
    width: 35px;
    height: 35px;
}

.collar-scroll-container{
    overflow-x: scroll;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 40px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.collar-preview{
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100%;
}

.rivetContainer img{
    margin-right: 10px;
}

.collarContainer {
    background-image : url("http://subtlepatterns.com/patterns/white_leather.png");
    background-repeat: repeat;
    border-radius: 5px;
    -webkit-box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    box-shadow: 0px 1px 10px rgba(0,0,0,0.5);
    width: 2500px;
    margin: 10px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.rivetContainer{
    padding: 15px;
    border-style: solid;
    border-left-color:  rgb(221, 221, 221);
    border-right-color: rgb(221, 221, 221);
    border-bottom-color: rgb(221, 221, 221);
    border-width: 1px;
    border-top:  0px;
}

.rivet-bin{
    min-width: 100%;
    min-height: 60px;
    border-style: dashed;
    background-color: #cccccc; 
    border-width:1px;
    margin-bottom: 20px;
    text-align:center;
    line-height: 60px;
    
}
