<form role="form">
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" ng-model="rivet.name" placeholder="Name eingeben">
  </div>
  <div class="form-group">
    <label>Bild</label>
    <input type="text" class="form-control" ng-model="rivet.image" placeholder="Bildpfad eingeben">
  </div>
  <div class="form-group">
    <label>Platzbedarf</label>
  </div>
  <div class="form-group">
    <label>Tags</label>
    <input type="text" class="form-control" ng-model="rivet.tags" placeholder="tags eingeben">
  </div>
    <button ng-click="save(rivet.key)">speichern</button>
</form>