<a href="#/addRivets">hinzufügen</a>
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Bild</th>
            <th>Preis</th>
            <th>Tags</th>
            <th>Platzbedarf</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="rivet in rivets">
            <td>{{rivet.name}}</td>
            <td><img class='table-img' ng-src='{{rivet.image}}'</img></td>
            <td>{{rivet.price}}</td>
            <td>{{rivet.tags}}</td>
            <td><a href="#/addRivets/{{rivet.rivetId}}">edit</a><br></td>
        </tr>
    </tbody>
 </table>
